.waitlist {
  background-color: rgb(240, 233, 252);
  height: 60vh;
  padding: 40px 100px;
}

.waitlistbtn {
  border: 1px solid black;
  font-size: 30px;
  background: #ce97f5;
  margin-top: 2%;
  
}
.waitlistbtn:hover{
    background: #e4c6f9;
}
.waitlist-form  {
    width: 80%;
}

